<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmn.mapper.DoctorMapper">
  <resultMap id="BaseResultMap" type="com.zmn.entity.Doctor">
    <!--@mbg.generated-->
    <!--@Table doctor-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="work_time" jdbcType="VARCHAR" property="workTime" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="department_code" jdbcType="VARCHAR" property="departmentCode" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="doctor_code" jdbcType="VARCHAR" property="doctorCode" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="doctor_id" jdbcType="VARCHAR" property="doctorId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, creat_time, update_time, work_time, `level`, department_name, department_code, 
    telephone, age, sex, doctor_code, doctor_name, doctor_id
  </sql>
</mapper>